
.header {
    font-size: 18px;
    font-weight: 400;
    padding: 92px 24px 92px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

 .header__menu-list {
    display: flex;
    flex-direction: row;
    gap: 31.68px;
    list-style: circle;
    text-underline-offset: 3px;
    margin-left: 30px;
    justify-content: space-between;
}

.header__links-list-item_no-bullit {
    list-style-type: none;
}

 .header_logo-image {
    margin-right: 150px;
    width: 148px;
    height: 105px;
}

 .header_contacts {
    display: flex;
    flex-direction: column;
    list-style: none;
    text-underline-offset: 3px;
    margin-right: 65px;
    font-size: 18px;
    font-weight: 400;
}

.header_address {
    display: flex;
    margin-top: 5px;
}

.cover { 
    padding: 165px 50px 0 50px;
    position: relative;
    min-height: 757px;
    background: url(../images/cover.jpg) no-repeat center / cover;
    color: #fff;
}

.cover_title {
    color: white;
    text-transform: uppercase;
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 100px;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
}

.aligned-text {
    display: block;
    line-height: 1;
}

.aligned-text_left {
    text-align: left;
    letter-spacing: 20px;
    padding-top: 10px;
}

.aligned-text_center {
    text-align: center;
    letter-spacing: 25px;
    padding-top: 25px;
    padding-right: 29px;
}

.aligned-text_right {
    text-align: right;
    letter-spacing: 24px;
    padding-right: 8px;
    padding-top: 20px;
}

.letter-spacing_extended {
    letter-spacing: 60px;
    padding-left: 10px;
}

.no-letter-spacing {
    letter-spacing: 0px;
}

.cover_description {
  display: flex;
  align-items: center;
  padding-top: 135px;
  padding-left: 30px;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  }


  
.cover_description-text {
    position: relative;
    font-size: 22px;
    font-weight: 400;
    text-align: left;
    word-spacing: 17.5px;
    text-transform: uppercase;
}

.bet-button {
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 0;
    color: #fff;
    padding: 12px 32px;
    margin-left: 79px;
    z-index: 1;
    cursor: pointer;
  }

  .overlay {
    position: absolute;
    background: rgba(0, 0, 0, .6);
    width: 100%;
    height: 100%;
    inset: 0;
  }

.lots {
    padding: 179px 24px 0 24px;
  }

.lots_heading {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 40px;
    padding-left: 40px;
    text-transform: uppercase;
}

.lots_card-list {
    display: flex;
    padding-top: 27px;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 25px;
}

.lots_card-list-item {
    width: 334px;
    height: 563px;
}

.card {
    display: flex;
    height: 100%;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 50px 40px;
}

.card_title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 22px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 4px;
    z-index: 1;
}

.card_text {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    z-index: 1;
}

.card-link {
    text-decoration: none;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg)
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.lots_look-more-link {
    font-size: 20px;
    margin-left: 40px;
    margin-top: 27px;
    text-decoration: none;
    border-bottom: 1px solid;
    position: relative;
    display: inline-block;
}

.about {
    padding: 180px 24px;
    display: flex;
    gap: 72px;
}

.about_logo {
    border: 50px solid transparent;
    border-radius: 50%;
    background-color: black;
    width: 240px;
    height: 240px;
    margin-left: 47px;
}

.about_logo-image {
    width: 148px;
    height: 114px;
    margin-top: 15px;
}

.about_title {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
    padding-top: 105px;
    padding-bottom: 100px;
}

.about_column-text {
    display: flex;
    gap: 25px;
    flex-direction: column;
}

.about_text {
    font-size: 20px;
    font-weight: 400;
}

.footer {
    display: flex;
    margin: 0 50px;
    justify-content: space-between;
}


.footer_social-list {
    display: flex;
    list-style: none;
    gap: 48px;
}

.footer_menu-list {
    display: flex;
    text-align: center;
    flex-direction: column;
    list-style: none;
    text-underline-offset: 3px;
    font-size: 18px;
    font-weight: 400;
    padding-right: 25px;
}

.footer_menu-link_active {
    text-decoration: none;
}

.footer_social-list-item {
    width: 48px;
  }

  .footer_contacts {
    display: flex;
    flex-direction: column;
    list-style: none;
    text-underline-offset: 4px;
    padding-top: 2px;
    margin-right: 65px;
    font-size: 18px;
    font-weight: 400;
    gap: 2px;
}
